In [ ]:
num1 = int(input("Enter Num:"))
num2 = int(input("Enter Num:"))

product = num1 * num2
if product > 1000:
    sum = num1 + num2
    print(sum)
else:
    print(product)

In [10]:
stringCharacters = input("Enter A String: ")

num = 0

for i in stringCharacters:
    num +=1
    if num % 2 == 1:
        print(i)

Enter A String: michael
m
c
a
l

In [15]:
for i in range(1, 11):
    for j in range(1, 13):
        print(i * j, end=" ")
    
        if j == 12:
            print("\n")

1 2 3 4 5 6 7 8 9 10 11 12

2 4 6 8 10 12 14 16 18 20 22 24

3 6 9 12 15 18 21 24 27 30 33 36

4 8 12 16 20 24 28 32 36 40 44 48

5 10 15 20 25 30 35 40 45 50 55 60

6 12 18 24 30 36 42 48 54 60 66 72

7 14 21 28 35 42 49 56 63 70 77 84

8 16 24 32 40 48 56 64 72 80 88 96

9 18 27 36 45 54 63 72 81 90 99 108

10 20 30 40 50 60 70 80 90 100 110 120

In [71]:
def exponent(base, exp):
    return base**exp

base = int(input("Enter Number: "))
exp = int(input("Enter Number: "))

exponent(base, exp)

Enter Number: hd

ValueError: invalid literal for int() with base 10: 'hd'

In [47]:
list_of_names = ["Sarah", "davies", "Bessi", "Seyi", "Francis", "blackman"]

order = []

for i in list_of_names[::-1]:
    print(i, end=" ")

blackman Francis Seyi Bessi davies Sarah

In [49]:
given_list = [13, 15, 26, 90, 500, 300, 40, 70, 20]

count = 0

for i in given_list:
    count+=1
    if i == 20:
        given_list[count-1] = 200
        break
print(given_list)

[13, 15, 26, 90, 500, 300, 40, 70, 200]

In [68]:
def is_prime_number(num):
    divisible = 2
    while divisible < num:
        if num % divisible == 0:
            return False
        divisible+=1
    return True

is_prime_number(100000284)

False

In [69]:
def calculation(num1, num2):
    
    for i in range(2):
        return num1 + num2, num2 * num1
        
calculation(23, 45)

(68, 1035)

In [103]:
isPrime = True

count = 2
for i in range(2, 102):
    for j in range(2, 11):
        if i % j == 0 and count != i:
            isPrime = False
        if isPrime == True:
            print(i, "is Prime")

2 is Prime
2 is Prime
2 is Prime
2 is Prime
2 is Prime
2 is Prime
2 is Prime
2 is Prime
2 is Prime
3 is Prime